.banner_container{
    background-image: url('/img/background_car.svg');
    background-repeat: no-repeat;
    background-position: center; 
    height: 1080px;
    width: 1920px;
}


.banner_container h1{
    text-align: center;
    margin-top: 687px;
    margin-left: 1334px;
    font-family: 'cinematografica'; /*tem q adicionar essa fonte em uma pasta fonts*/ /*adicionado*/
    color: #FFFFFF;
    font-size: 200px;
    height: 147px;
    width: 404px;
    letter-spacing: 22px;

}

.banner_container p{
    line-height: 59.97px;
    text-align: right;
    font-family: 'cairo';
    color: #FFFFFF;
    font-size: 29px;
    height: 60px;
    width: 680px;
    margin-top: 40px;
    margin-left: 1059px;
}

