.form_container{
    height: 1080px;
    display: inline-block;
    background-color: black;  /*mudar por aquele gradiente laranja-preto no futuro*/ 
}

.form_container h2{
    margin-top: 84px;
    margin-left: 182px;
    display: block;
    width:542px;
    height:55px;
    text-align: center;
    font-size: 55px;
    color: #FFFF;
    font-family: 'milanello';
    line-height: 55.33px;
}
.campos_form{
    margin-top: 106px;
    margin-left: 182px;
    display: inline-block;
    width: 50%;
    height: 552px;
    background-color: inherit;
    border-color: #0000;
}

.campos_form input{
    width:100%;
    padding-left: 45px;
    height: 50px;
    margin-bottom: 40px;
    display:inline-block;
    background-color: #D45827;
    border-radius: 10px;
    color: #FFFF;
    border-color: #0000;
    color:#FFFF
}

.campos_form button{
    margin-left: 25%;
    margin-top: 20px;
    width:60%;
    height: 50px;
    text-align: center;
    border-color: #D45827;
    color: #D45827;
    background-color: inherit;
    border-radius: 10px;
    font-size: 20px;
    font-style: bold;
    cursor:pointer;
}
.imagem_gato{
    margin-left: 30px;
    margin-top: 106px;
    display: inline-block;
    position: absolute;
    height: 511px;
    width: 511px;
    overflow: hidden;
    
}

.imagem_gato img{
    width: 100%;
    height: auto;
    position: absolute;
    overflow-x: hidden;
}

.campos_form input::placeholder{
    color:#FFFF;
    font-weight: 400;
    font-size: 15px;
}


.campos_form button:hover{
    background-color: #D45827;
    color:black;
}

/*Desktop*/
@media only screen and (max-width: 1496px) {
    .imagem_gato img{
        width: 80%;
    }
    .imagem_gato{
        overflow: hidden;
        width:450px;
    }
}

@media only screen and (max-width: 1338px) {
    
    .imagem_gato img{
        width:100%
    }
    .imagem_gato{
        width:300px;
        overflow: hidden;
    }
}

/*Laptops*/
@media only screen and (max-width: 1025px) {
    .imagem_gato img{
        width: 80%;
    }

    .imagem_gato{
        width: 160px;
    }

}

/*Tablets*/
@media only screen and (max-width: 768px) {
    .imagem_gato img{
        display: none;
    }

    .imagem_gato{
        width: 100px;
    }

    .form_container h2{
        margin-left: 80px;
    }
}

/*Celulares*/
@media only screen and (max-width: 600px) {
  
}

/*Celulares pequenos*/
@media only screen and (max-width: 600px) {
  .imagem_gato{
    display: none;
  }
  .form_container h2{
    margin-left: 80px;
  }
}