.footer_container{
    height: 394px;
    background-color: grey;
}

.img_redes{
    display: block;
    height: 54.77px;
    width: 270.37px;
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
}