
  .hamburger {
    width: 70px;
    height: 70px;
    background-color: inherit;
    position:center;
    display:inline-block;
    margin-left: 85%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    display: none;
  }
  
  .hamburger::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px #fff;
    transition: 0.3s;
  }
  
  .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateY(10px);
    transition: 0.3s;

  }
  
  
  .hamburger.active {
    background-color: inherit;
    transition: 0.3s;
  }
  
  .hamburger.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px #fff;
  }
  
  .hamburger.active::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0px #fff;
  }
  

  @media (max-width: 1130px) {
    .hamburger{
      position:inherit;
      display:inline-block;
      margin-top: -50px;
    }
    
  }