:root{
    --bc: white;
    --text: black;
    --text_hover: #e5e5e5;
}

@font-face {
    font-family: "cinematografica";
    src: url('/fonts/cinematografica.ttf');
}

@font-face {
    font-family: "cairo";
    src: url('/fonts/Cairo.ttf');
}

@font-face {
    font-family: "milanello";
    src: url('/fonts/Milanello.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bc);
    color: var(--text);
    width:100vw;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--text);
}

.container{
    background-image: url('/img/Background_gradient.svg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
