
.navbar ul{
    height: 150px;
    display: flex;
    align-items: center;
    background-color: black; 
    padding-left: 100px;
    position: absolute; 
    margin-top: 0px;
    width: 1920px; 
}


.link_navbar {
    height: 40px;
    padding: 10px;
    margin: 96px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 40px;
  }
  
.link_navbar:hover {
    background-color: #e5e5e5;
    color: black;
}

