.navbar{
  opacity: 0.95;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar ul {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  background-color: black;
  padding: 0 20px; 
  position: inherit;
  margin: 0;
  width: 100%;
}

.navbar li{
  cursor:pointer;
  height:100%;
}

.link_navbar {
  transition:0.3s;
  height:100%;
  padding: 10px 20px; 
  margin: 0 20px; 
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.link_navbar:hover {
  transition:0.3s;
  background-color: #e5e5e5;
  color: black;
  transition:0.3s;
}


@media (min-width: 1131px) {

  .link_navbar {
    display: flex;
  }
}

/* Responsividade */
@media (max-width: 1130px) {

  .navbar ul {
    flex-direction: column; 
    height: auto; 
    padding-left: 0;
    display:flex;
  }

  .link_navbar {
    font-size: 30px;
    margin: 10px 0; 
    display: none;
  }
}
