.assassinos_container {
    height: 100%;
    max-width: 1920px;
    align-items: center;
    background-color: #00000000;
    padding: 20px;
    color: white;
  }
  
  .titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-family: "milanello";
    background-color: #00000000;
  }
  
  .listaNomes {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: #00000000;
  }
  
  .nomeAssassino {
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "milanello";
    font-size: 1.5rem;
    background-color: #00000000;
  }
  
  .nomeAssassino:hover {
    background-color: white;
    color: black;
  }
  
  .detalhes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #00000000;
  }
  
  .descricao {
    flex: 1;
    padding-right: 20px;
    font-family: "cairo";
    background-color: #00000000;
  }
  
  .descricao h4 {
    margin-bottom: 10px;
    font-size: 2.1rem;
    font-family: "milanello";
    background-color: #00000000;
  }
  
  .descricao p {
    font-size: 2rem;
    background-color: #00000000;
  }
  
  .imagemContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-color: #00000000;
  }
  
  .imagemAssassino {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: #00000000;
  }
  
  /* Responsividade */
  @media (max-width: 1130px) {
    .detalhes {
      flex-direction: column;
      align-items: center;
      background-color: #00000000;
    }
  
    .descricao {
      padding-right: 0;
      text-align: center;
      margin-bottom: 20px;
      background-color: #00000000;
    }
  
    .imagemContainer {
      justify-content: center;
      background-color: #00000000;
    }
  
    .imagemAssassino {
      max-width: 70%;
      background-color: #00000000;
    }
  }
  